.section-topo {
  .carousel-top {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 20px auto;
    gap: 14px;

    li{
      display: flex;
      align-items: center;
      padding: 30px;
      border-radius: 30px;
      background-color: #cecece;
      margin: 0 12px;

      &:nth-child(even){
        background-color: $main-color;
      }

      img{
        width: 68px;
        height: auto;
        margin-right: 12px;
      }
      .text{
        text-transform: uppercase;
        font-size: 17px;
        line-height: 21px;
      }
    }
  }
}