.section-topo {
  .carousel-top {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 20px auto;
    gap: 14px;

    @media (max-width: 768px) {
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;
      padding: 28px 18px;
      border-radius: 30px;
      background-color: #cecece;
      margin: 0 12px;
      width: 310px;

      &:nth-child(even) {
        background-color: $main-color;
      }

      img {
        width: 68px;
        height: 68px;
        margin-right: 12px;
      }

      .text {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        color: #fff;
      }
    }
  }
}

.servicos {
  margin-top: 76px;

  @media (max-width: 480px) {
    margin-top: 38px;
  }
}

.cards-services {
  margin-bottom: 76px;

  @media (max-width: 480px) {
    margin-bottom: 38px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin: 0 0 22px;

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $main-color;
      color: white;
      text-align: center;
      padding: 10px;
      border-radius: 15px;
      height: 180px;

      .name {
        color: #FFF;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
      }

      &:nth-child(2n + 1) {
        background-color: $main-color;

        .name {
          color: #fff;
        }
      }

      &:nth-child(2n) {
        background-color: #fff;

        @media (max-width: 767px) {
          border: 1px solid #dedede;
        }

        .name {
          color: $main-color;
        }
      }
    }
  }

  p {
    color: $color-text;
  }
}

.blog-card {
  box-shadow: 1px 3px 15px #ccc;
  padding: 22px 14px;
  border-radius: 3px;
}

.portfolio-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 46px;
}

.portfolio-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.portfolio {
  .cards-portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin: 0;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 18px 0;
    }

    li {
      display: flex;
      flex-direction: column;
      // height: 260px;
      position: relative;
      box-sizing: border-box;

      // @media (max-width: 620px) {
      //   height: 160px;
      // }

      .legend {
        text-align: center;
        color: #fff;
        background-color: $main-color;
        font-size: 12px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        padding: 4px 8px;
        width: 100%;
        box-sizing: border-box;

        @media (max-width: 620px) {
          display: flex;
          padding: 10px;
          -webkit-line-clamp: 2;
          justify-content: center;
          align-items: center;
        }
      }

      .image-container {
        overflow: hidden;
        width: 100%;
        height: 240px;

        @media (max-width: 480px) {
          height: 168px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s ease;
          cursor: pointer;

          &:hover {
            transform: scale(1.3);
            transition: transform 0.3s ease;
          }
        }
      }
    }
  }
}

.empresa {
  background-color: #E3E3E3;

  .title {
    background: #fff;
    padding: 42px 0 28px;

    @media (max-width: 620px) {
      padding: 22px 0 28px;
    }
  }

  .wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    padding-bottom: 12px;

    @media (max-width: 620px) {
      grid-template-columns: 1fr;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      img {
        width: 42px;
        height: auto;
        margin-bottom: 12px;
      }

      h3 {
        @media (max-width: 480px) {
          margin-bottom: 0;
        }
      }

      p {
        margin-top: 12px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
      }
    }
  }
}

.equipe {
  margin-top: 48px;

  @media (max-width: 480px) {
    margin-top: 22px;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 18px;
    margin: 0;
    list-style: none;

    li {
      display: flex;
      gap: 14px;
      margin: 0 16px;

      .col-right,
      .col-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      .col-right {
        justify-content: center;
        background-color: #e6e9ec;
        padding: 14px;
        margin-top: 12px;

        .name {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          text-align: center;
        }
      }
    }
  }
}

.clientes {
  margin: 76px auto;

  @media (max-width: 620px) {
    margin: 38px auto 18px;
  }

  .title {
    margin-bottom: 22px;
  }

  .carousel-clientes {
    display: flex;
    align-items: center;
    margin: 0;

    li {
      display: flex;
      justify-content: center;
      margin: 0 auto;

      img {
        display: inline-block;
        width: auto;
        height: 112px;
        margin: 0 auto;
      }
    }
  }
}

.blog {
  margin-bottom: 76px;

  @media (max-width: 620px) {
    margin-bottom: 38px;
  }

  .grid-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    margin: 0;
    list-style: none;

    @media (max-width: 620px) {
      grid-template-columns: 1fr;
    }

    li {
      -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
      overflow: hidden;
      position: relative;
      background-color: #fff;
      width: 100%;
      min-height: 100%;
      border-radius: 3px;
      border: 1px solid #ededed;
      -webkit-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;

      .top {
        padding: 24px;
      }

      >.date {
        display: block;
        border-top: 1px solid #ddd;
        padding: 12px 24px;
        font-size: 12px;
      }

      .title {
        font-size: 21px;
        line-height: 24px;
        color: $main-color;
        text-align: left;
        font-weight: 500;
        text-transform: initial;
        margin: 0;

        &::after {
          display: none;
        }
      }

      p {
        color: $color-text;
        font-size: 14px;
        line-height: 19px;
        margin: 22px 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }



      >.read-more {
        display: block;
        color: $main-color;
        font-weight: 500;
      }
    }
  }
}

.contato {
  .wrap-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }

    >div {
      padding: 100px;

      @media (max-width: 992px) {
        padding: 58px;
      }

      @media (max-width: 767px) {
        padding: 38px;
      }

      @media (max-width: 480px) {
        padding: 32px 18px;
      }
    }

    .title-section {
      display: flex;
      flex-direction: column;
      font-size: 28px;
      line-height: 31px;
      text-transform: uppercase;
      color: #fff;

      @media (max-width: 767px) {
        font-size: 21px;
        line-height: 25px;
      }

      &:before {
        content: "";
        display: inline-block;
        border-bottom: 5px solid;
        width: 30px;
        margin-bottom: 18px;
      }
    }

    .information {
      background-color: #3E3E3E;

      .title-section {
        &:before {
          border-color: $main-color;
        }
      }

      ul {
        margin: 32px 0 0;

        li {
          display: flex;
          align-items: center;
          padding-bottom: 22px;
          gap: 24px;

          @media (max-width: 767px) {
            gap: 12px;
          }

          &:last-child {
            padding-bottom: 0;
          }

          .icon {
            display: inline-block;
            background-repeat: no-repeat;
            width: 42px;
            height: 42px;
            min-width: 42px;
            filter: invert(1);
            position: relative;
            top: -18px;

            @media (max-width: 767px) {
              width: 22px;
              height: 22px;
              min-width: 22px;
            }
          }

          &:nth-of-type(1) {
            .icon {
              background-image: url($location);
            }
          }

          &:nth-of-type(2) {
            .icon {
              background-image: url($phone);
              transform: rotate(90deg);
            }
          }

          &:nth-of-type(3) {
            .icon {
              background-image: url($email);
            }
          }

          .text {
            h4 {
              color: #fff;
              font-weight: 500;
              margin-bottom: 18px;

              @media (max-width: 767px) {
                margin-bottom: 12px;
              }
            }

            a {
              color: #fff;
              font-size: 15px;
              line-height: 17px;
            }
          }
        }
      }
    }

    .form {
      background-color: $main-color;


      .wpforms-confirmation-scroll {
        p {
          color: #fff;
        }
      }

      #wpforms-error-noscript {
        display: none;
      }

      .wpforms-container {
        max-width: 560px;
        margin-top: 22px;
      }

      .wpforms-field {
        margin-bottom: 12px;
      }

      textarea {
        height: 120px;
      }

      .send-message {
        background: #3e3e3e;
        width: 100%;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
}

.mapa-endereco {
  height: 450px;

  iframe {
    width: 100%;
  }
}