@import "./variables";

.container {
  .box-content {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .error {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 200px;
    font-weight: 800;
    margin: 30px 0;
    color: $orange;

    @media(max-width: 480px){
      font-size: 100px;
    }

    span{
      color: $purple;
    }
  }
  .desc {
    font-size: 16px;
    line-height: 19px;
    position: relative;
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 0 60px;
  }
}
