@import "./variables";
@import "./mixins";

#category-page {
  .clear {
    clear: both;
  }

  @include pagination;

  ul.list-mais-noticias.list-up {
    margin-bottom: 0;

    .container {
      padding: 0;
      
      @media(max-width: 1200px){
        margin: 0 10px 0 0;
      }
    }
  }

  ul.list-mais-noticias.list-down {
    margin-bottom: 0;

    .list-post-item {
      margin-bottom: 30px;

      @media (max-width: 1200px) {
        margin-right: 10px;
      }

      @media (max-width: 480px) {
        img {
          max-width: 285px;
          height: auto;
        }
      }
    }
  }

  ul.list-mais-noticias .container {
    max-width: 370px;
  }

  .list-mais-noticias {
    display: flex;
    // justify-content: space-between;
    margin-bottom: 30px;

    @media (min-width: 1201px) {
      flex-wrap: wrap;
    }

    .list-post-item{
      @media(min-width: 1201px){
        &:nth-child(3n + 2) {
          margin: 0 30px!important;

          @media (max-width: 480px) {
            margin: 0;
          }
        }
      }
    }

    li {
      max-width: 370px;

      img {
        border-radius: 20px;
      }

      .title-post {
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        color: $texto;
        margin: 8px 0px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .data {
        font-size: 12px;
        color: $texto;
      }

      .ler-tudo {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        display: block;

        &:after {
          content: "";
          display: inline-block;
          background-image: url($arrowLinkLerTudo);
          width: 7px;
          height: 13px;
          position: relative;
          top: 2px;
          margin-left: 6px;
        }
      }
    }
  }

  .list-post-criticas {
    clear: both;
  }

  .wrap-criticas {
    position: relative;
    margin-bottom: 30px;

    &:after {
      right: -34%;
      top: 0;
      left: unset;
    }
  }

  .section-criticas {
    background-color: $orange;
    height: 304px;

    @media (max-width: 1260px) {
      height: 282px;
    }

    .section-title {
      margin: 0 auto;
      max-width: 1170px;
      padding-top: 38px;
      padding-left: 2px;

      @media (max-width: 1260px) {
        padding-top: 22px;
      }

      span.title-desk {
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: $white;
        max-width: 71px;
        padding-right: 29px;

        @media (max-width: 1180px) {
          padding-left: 10px;
        }

        @media (max-width: 480px) {
          display: block;
        }
      }

      span.separator {
        border-color: $white;
        max-width: 1070px;
      }
    }

    .list-posts {
      max-width: 1170px;
      margin: 0 auto;
      height: 215px;
      padding: 28px 0 0 0;
      box-sizing: border-box;

      .list-post-item.slick-slide:nth-child(3n + 2) {
        margin: unset;
      }

      .list-post-item.slick-slide {
        max-width: initial;
      }

      @media (max-width: 1260px) {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 28px 10px 0 10px;
      }

      .slick-arrow {
        font-size: 0;
        border: 0;
        background: no-repeat;
        position: absolute;
        bottom: 80px;
        z-index: 9;

        &:before {
          content: "";
          display: inline-block;
          background-image: url($arrowCarouselCriticas);
          width: 20px;
          height: 36px;
        }
      }

      .slick-prev {
        left: -38px;
      }
      .slick-next {
        transform: rotate(180deg);
        right: -16px;
      }

      li {
        @media (max-width: 1260px) {
          padding-right: 10px;
        }

        img {
          border-radius: 20px;
          filter: none !important;
        }

        .box-title {
          width: 370px;
          margin-top: 8px;
        }

        .title-post {
          font-weight: bold;
          font-size: 16px;
          line-height: 16px;
          text-decoration-line: underline;
          color: $white;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  .list-mais-noticias {
    @media (max-width: 1200px) {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  .title-post-by-category {
    margin: 20px 0;
    img {
      position: relative;
      top: 8px;
    }
  }

  .box-separator {
    margin: 0 0 20px;
  }

  .title-page {
    position: relative;
    min-height: 40px;
    display: block;
    margin: 0 0 15px;
    span {
      font-weight: 600;
      font-size: 20px;
      z-index: 999;
      padding: 0 18px 0 0;
      background-color: #f3f3f3;
      position: absolute;
      line-height: 40px;
    }
    .sep {
      border-top: 4px solid #e3e3e3;
      border-radius: 50px;
      width: 100%;
      display: block;
      top: 50%;
      position: absolute;
      z-index: 9;
    }
  }

  article {
    .adsence {
      max-width: 728px;
      width: 100%;
      max-height: 90px;
      height: 90px;
      margin: 10px auto 30px;
      background-color: #f1ea6c;
    }

    .list-post-item {
      max-width: 370px;
      width: 100%;
      margin-bottom: 31px;
      list-style: none;
      float: left;

      &.space {
        margin: 0 30px;

        @media (max-width: 1200px) {
          margin: 0 10px 31px 0;
        }
      }

      @media (max-width: 1200px) {
        margin-right: 10px;
      }

      @media (max-width: 480px) {
        max-width: 285px;
      }

      .image-desk {
        img {
          filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
          border-radius: 20px;

          @media (max-width: 480px) {
            width: 285px;
            height: auto;
          }
        }
      }

      .box-title {
        @media (max-width: 480px) {
          padding: 0 10px;
        }
      }

      .title-post {
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        margin: 16px 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 60px;

        @media (max-width: 768px) {
          font-size: 18px;
          line-height: 24px;
        }

        @media (max-width: 480px) {
          margin: 10px 0;
        }
      }

      .data {
        font-size: 12px;
        line-height: 12px;
      }

      .box-bottom {
        @media (max-width: 480px) {
          padding: 0 10px;
          margin-top: 20px;
        }

        .ler-tudo {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;

          &:after {
            content: "";
            display: inline-block;
            background-image: url($arrowLinkLerTudo);
            width: 7px;
            height: 13px;
            position: relative;
            top: 2px;
            margin-left: 6px;
          }
        }
      }
    }

    li {
      &.item-first-list {
        width: 370px;
        height: 370px;
        border-radius: 20px;
        position: relative;
        float: left;
        list-style: none;
        margin-bottom: 30px;

        @media (max-width: 1200px) {
          max-width: 32%;
          height: auto;
        }

        &:nth-child(3n + 2) {
          @media (min-width: 1201px) {
            margin: 0 30px 30px;
          }

          @media (max-width: 1200px) {
            margin: 0 1.7%;
          }

          @media (max-width: 480px) {
            margin: 0;
          }
        }

        &:nth-child(2n + 1) {
          @media (max-width: 480px) {
            margin-right: 4%;
          }
        }

        .image-desk {
          @media (max-width: 480px) {
            display: none;
          }
        }

        .image-mob {
          display: none;

          @media (max-width: 480px) {
            display: block;
          }
        }

        @media (max-width: 480px) {
          width: 48%;
          max-width: 48%;
        }

        &:nth-of-type(5),
        &:nth-of-type(6) {
          @media (max-width: 480px) {
            display: none;
          }
        }

        img {
          max-width: 100%;
          width: 100%;
          height: auto;
          border-radius: 20px;

          @media (max-width: 480px) {
            border-radius: 20px 20px 0 0;
          }
        }

        .wrapper-title {
          @media (max-width: 480px) {
            position: relative;
            width: 100%;
          }

          .post-categories {
            position: absolute;
            top: 223px;
            left: 20px;

            @media (max-width: 819px) {
              top: 94px;
            }

            @media (max-width: 480px) {
              position: absolute;
              left: 0;
              top: -25px;
              padding-left: 10px;
              z-index: 10;
            }

            li {
              @media (max-width: 480px) {
                border-radius: 6px 6px 0px 0px;
                height: 22px;
              }

              &:nth-of-type(1) {
                display: flex;
              }
            }
          }

          .box-title {
            @media (max-width: 480px) {
              bottom: 3px;
              background: #576066;
              width: 100%;
              left: 0;
              border-radius: 0 0 20px 20px;
              position: relative;
              height: 70px;
            }

            .title-post {
              position: absolute;
              z-index: 1;
              left: 20px;
              right: 20px;
              bottom: 20px;
              max-width: 310px;
              font-family: "Raleway", sans-serif;
              font-weight: bold;
              font-size: 24px;
              line-height: 30px;
              color: #ffffff;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              height: 90px;

              @media (max-width: 819px) {
                font-size: 15px;
                line-height: 18px;
                height: 54px;
              }

              @media (max-width: 480px) {
                font-size: 14px;
                line-height: 22px;
                -webkit-line-clamp: 2;
                left: 0;
                right: 6px;
                top: 9px;
                height: 41px;
              }
            }
          }
        }
      }
    }
  }
}
