@import "./variables";

#single-post {
  padding: 32px 0;

  .box-content-last-posts {
    width: 76%;

    .title {
      min-height: 0;
    }
  }

  .box-category {
    li {
      position: absolute;
      bottom: 8px;
      color: #ffffff;
      padding: 14px 57px;
      letter-spacing: 0.5px;
      font-size: 18px;
      font-weight: 600;
      border-radius: 10px;
      width: 170px;
      height: 45px;

      @media (max-width: 480px) {
        height: 38px;
      }

      a {
        font-size: 18px;
        line-height: 18px;
        text-transform: capitalize;
      }
    }
  }

  .box-category {
    position: absolute;
    bottom: -13px;
    max-width: 770px;
    width: 100%;

    li {
      position: relative;
      margin-right: 10px;
      bottom: initial;
    }
  }

  article {
    width: 770px;
    position: relative;
    display: block;
    float: left;
    margin: 0 30px 0 0;
    @media screen and (max-width: 1200px) {
      width: 67%;
      margin: 0 3% 0 0;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      margin: 0;
    }

    p {
      font-size: 16px;
      line-height: 28px;
      margin: 0 0 20px;
      font-weight: 500;
      color: #4f4f4f;
    }

    ul {
      padding: 0;
      overflow: auto;
    }
  }

  .adsence {
    &.topo {
      iframe {
        height: 90px !important;
      }
    }
  }

  .box-content {
    margin: 16px 0 40px;
    height: auto;
    overflow-x: auto;
    overflow-y: unset;

    img {
      max-width: 100%;
      height: auto;
    }

    .wrapper-tags {
      display: flex;
      margin-top: 38px;

      .title {
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        color: $texto;
        margin: 0 10px 0 0;
        min-width: 38px;
        height: 27px;
        padding: 0;
        display: flex;
        align-items: center;
      }

      .list-tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;

        li {
          padding: 8px 20px;
          background-color: $white;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          font-weight: bold;
          font-size: 12px;
          line-height: 12px;
          margin-right: 10px;
          margin-bottom: 10px;
          border-radius: 6px;
          letter-spacing: 0.3px;
        }
      }
    }
  }

  aside {
    width: 370px;
    position: relative;
    display: block;
    float: right;
    @media screen and (max-width: 1200px) {
      width: 30%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;

      .box-ultimas-noticias{
        order: 2;
      }
      .banner-destaque{
        order: 1;
      }
      .adsence{
        order: 3;
      }
    }

    .title {
      position: relative;
      position: relative;
      min-height: 40px;
      span {
        font-weight: 600;
        font-size: 20px;
        z-index: 999;
        padding: 0 8px 0 0;
        background-color: #f3f3f3;
        position: absolute;
      }
      .sep {
        border-top: 4px solid #e3e3e3;
        border-radius: 50px;
        max-width: 970px;
        width: 100%;
        display: block;
        top: 50%;
        position: absolute;
        z-index: 9;
      }
    }
    .last-posts {
      padding: 0;

      li {
        position: relative;
        display: flex;
        width: 100%;
        margin: 0 0 20px;
      }
      .thumb {
        width: 67px;
        height: 67px;
        float: left;
        margin: 0 12px 0 0;
        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
        }
      }
      .title {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        display: inline-block;
        margin: 0;
      }
      .content {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        display: inline-block;
      }
    }

    .banner-destaque {
      width: 100%;
      height: auto;
      margin: 0 auto;
      max-width: 370px;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 20px;
        margin-bottom: 20px;
      }
    }

    .adsence {
      max-width: 300px;
      height: 600px;
      max-height: 600px;
    }
  }
  .adsence {
    max-width: 728px;
    width: 100%;
    max-height: 90px;
    height: 90px;
    margin: 0 auto 30px;
    background-color: #f1ea6c;
  }

  .title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 40px;
    color: #4f4f4f;
    margin: 0 0 10px;

    @media (max-width: 480px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .info-post {
    .image {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50px;
      display: inline-block;
      margin: 0 5px 0 0;
      img {
        width: 100%;
        position: relative;
        height: auto;
      }
    }
    span {
      font-size: 16px;
      line-height: 36px;
      display: inline-block;
      position: relative;
      top: -13px;
      color: #4f4f4f;
      font-weight: 500;

      &.autor {
        text-decoration: underline;
      }
    }
  }

  .thumb {
    position: relative;
    img {
      position: relative;
      width: 100%;
      height: auto;
      max-height: 400px;
      margin: 0 0 20px;
      border-radius: 20px;
    }
  }

  .related-posts {
    position: relative;
    display: block;
    width: 100%;
    clear: both;

    .title {
      position: relative;
      position: relative;
      min-height: 40px;
      margin: 20px 0;
      span {
        font-weight: 600;
        font-size: 20px;
        z-index: 999;
        padding: 0 27px 0 0;
        background-color: #f3f3f3;
        position: absolute;
      }
      .sep {
        border-top: 4px solid #e3e3e3;
        border-radius: 50px;
        max-width: 970px;
        width: 100%;
        display: block;
        top: 50%;
        position: absolute;
        z-index: 9;
        right: 0;
      }
    }

    .box-list-post {
      display: flex;
      padding: 0;

      @media (max-width: 1170px) {
        overflow: auto;
      }
    }

    .list-post-item {
      max-width: 370px;
      width: 100%;
      margin-bottom: 31px;
      list-style: none;
      float: left;

      &:nth-of-type(2) {
        margin: 0 30px;

        @media (max-width: 1170px) {
          margin: 0;
        }
      }

      @media (max-width: 1170px) {
        padding-right: 10px;
        max-width: 300px;
        margin: 0;
      }

      .image-desk {
        img {
          filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
          border-radius: 20px;

          @media (max-width: 1170px) {
            max-width: 300px;
            height: auto;
          }
        }
      }

      .box-title {
        @media (max-width: 480px) {
          padding: 0 10px;
        }
      }

      .title-post {
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        margin: 16px 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 60px;

        @media (max-width: 768px) {
          font-size: 18px;
          line-height: 24px;
        }

        @media (max-width: 480px) {
          margin: 10px 0;
        }
      }

      .data {
        font-size: 12px;
        line-height: 12px;
      }

      .box-bottom {
        @media (max-width: 480px) {
          padding: 0 10px;
          margin-top: 20px;
        }

        .ler-tudo {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;

          &:after {
            content: "";
            display: inline-block;
            background-image: url($arrowLinkLerTudo);
            width: 7px;
            height: 13px;
            position: relative;
            top: 2px;
            margin-left: 6px;
          }
        }
      }
    }
  }
}
